.search_area {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--secundary);
    gap: 0.5em;
}  

.search_area > div {
    display: flex;
}

.search_area > div div:first-child{
    width: 100%;
}

.search_area > div div:last-child button{
    height: 2.38em;
}

.search_area div button {
    padding: 0.5em;
    border: none;
    background-color: var(--primary);
    color: var(--white);
    font-weight: 400;
}

.search_area div button:hover {
    background-color: #98bdf0;
}

.search_area div button:disabled {
    background-color: #cbdef8;
    cursor: inherit;
}

.search_area select {
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    border: none;
    outline: none;
}

.search_area select option {
    font-size: 1em;
    font-weight: bold;
    color: var(--secundary-p);
    padding: 5px;
    margin: 5px;
    background-color: var(--white);
}
.card_area {
    margin: 2em 0;
}

.no_card {
    text-align: center;
    margin-top: 2em;
}

.no_card h1 {
    color: var(--secundary-p);
}